VITE_FIREBASE_API_KEY="你的_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="你的_PROJECT_ID.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="你的_PROJECT_ID"
VITE_FIREBASE_STORAGE_BUCKET="你的_PROJECT_ID.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="你的_SENDER_ID"
VITE_FIREBASE_APP_ID="你的_APP_ID"

# 決定 Firebase database 裡面第一層的文件名稱 (選填)
VITE_DOCUMENT_APP_ID="temple-dishwash-app"
